main {
  background-image: url('https://images.unsplash.com/20/cambridge.JPG?q=80&w=1147&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  backdrop-filter: blur(80px);
  height: 100vh;
  width: 100vw;
  /* filter: blur(5px); */
    /* z-index: 1; */

}
